body{
    background-image: url("cross.png");
    background-repeat: repeat;
    background-color:#DCF5F5;
}
h1 {
    font-family: Raleway, sans-serif;
}
p {
    font-family: 'Noto Serif', monospace;
}
a {
    color: darkgreen;
}
s {
    color: grey;
}
mark {
    background-color:pink;
    color: darkblue;
}
h2 {
    text-align: left;
    font-family: Raleway, sans-serif;
}
pre {
    font-family: monospace;
}
h3 {
    color:rgba(0,0,139,0.8);
}
.transparent-text {
    color:rgba(0,0,0,0.5);
}
.content {
    background-color:white;
    border-style: solid;
    border-color: darkgrey;
    border-width: 1px;
    border-radius: 8px;
}
.blue {
    color: blue;
}
.fancy {
    font-family: cursive;
}
.red-border{
    border-style: solid;
    border-color: red;
    border-width: 1px;
}
.red-outline{
    outline: 1px solid red;
}
.blue-border{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
}
.red-top-border{
    border-style: solid;
    border-color: red;
    border-width: 1px;
    border-bottom-style: none;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.blue-bottom-border{
    border-style: solid;
    border-color: blue;
    border-width: 1px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
hr {
    border-style: solid;
    border-color: #CFDFE4;
    border-width: 1px;
}
.outer-one{
    background-color:blue;
    border:1px red solid;
}
.inner-one{
    background-color:yellow;
    border:1px red solid;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 12px;
    width:674px;
    height:174px;
    text-align:right;

}
.outer-two{
    background-color:blue;
    border:1px red solid;
    margin-top: 20px;
}
.inner-two{
    background-color:yellow;
    border:1px red solid;
    padding: 12px;
    height:374px;
    width:374px;
    text-align:right;
  margin: auto;
}
.icon-storage{
    text-align:center;
}
.icon-color{
    color:#BFCFD4
}
blockquote {
    color:dimgrey;
    line-height:1.5;
    font-family: Raleway, sans-serif;
    word-spacing: 0.2em;
    text-align:justify;
}
h4 {
    font-family: Raleway, sans-serif;
    font-style: italic;
    font-weight: normal;
    text-decoration: underline;
}