h1 {
    font-family: sans-serif;
}
p {
    font-family: serif;
}
a {
    color: darkgreen;
}
s {
    color: grey;
}
mark {
    background-color:pink;
    color: darkblue;
}
h2 {
    text-align: left;
    font-family: sans-serif;
}
pre {
    font-family: monospace;
}
h3 {
    color:rgba(0,0,139,0.8);
}
.transparent-text {
    color:rgba(0,0,0,0.5);
}